<template name="pagehead">
    <div class="pagehead explore-head">
        <div class="container">
            <nav class="pagehead-nav" role="navigation">
                <a href="#" class="selected js-selected-navigation-item pagehead-nav-item">
                    <span class="glyphicon glyphicon-search"></span>Active
                </a>
                <a href="#" class="js-selected-navigation-item pagehead-nav-item">
                    <span class="glyphicon glyphicon-gift"></span>Top Ranked
                </a>
                <a href="#" class="js-selected-navigation-item pagehead-nav-item">
                    <span class="glyphicon glyphicon-gift"></span>Buddies
                </a>
                <a href="#" class="js-selected-navigation-item pagehead-nav-item">
                    <span class="glyphicon glyphicon-gift"></span> Stars
                </a>
            </nav>

            <div style="font-weight: bold; font-size: 20px;">Players
                <span class="glyphicon glyphicon-user"></span>
            </div>
        </div>
    </div>
</template>