<template name="players">
        <table class="table table-condensed">
            <thead>
            <tr>
                <th>Name</th>
                <th>From</th>
                <th>Rank</th>
                <th>Activity</th>
                <th>Play</th>
            </tr>
            </thead>
            <tbody>
            {{#each players}}
            <tr>
                <td>
                    <img class="img-rounded table-img" src="img/me.jpg">
                    {{profile.name}} {{profile.type}}
                </td>
                <td>
                    <img class="flag-img" src="/flags/us.png">
                    New Jersey, USA
                </td>
                <td>100th</td>
                <td>Playing & watching...</td>
                <td>
                    {{#if not_me}}
                        <input type="button" value="Play" class="btn btn-default btn-xs "/>
                    {{/if}}
                </td>
            </tr>
            {{/each}}
            </tbody>
        </table>
</template>
